/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*COMMON*/
.padding{
    padding: 1rem 1.5rem;
}

.padding-s{
    padding: 0.5rem 1.5rem;
}

.padding-l{
    padding: 1.5rem;
}

.padding-xl{
    padding: 3rem 5rem;
}

.padding-lft{
    padding-left: 1.5rem;
}

/*BACKGROUND*/
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 219, 213);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-bg{
    position: absolute;
    width: 100%;
    height:15%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(0, 150, 136);
}

/*MAIN SCREEN*/
.main-screen{
    width: 80%;
    height: calc(100% - 2rem);
    margin: auto;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

/*SIDE_BAR*/
.side-bar{
    height: 100%;
    width: 250px;
    background-color: yellow;
}

.header-user{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}

.photo{
    width: 70px;
    height: 70px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.tools{
    width: calc(100% - 70px);
    background-color: lightgreen;
    display: flex;
    justify-content: left;
}

.notifiche{
    width: 100%;
    height: 70px;
    background-color:rgb(142, 218, 252) ;
}

.search-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(234, 234, 234) ;
}

.side-chat{
    height: calc(100% - 190px - 2rem);
    width: 100%;
    overflow-y: auto;
    background-color: brown;
}

.row-prew{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.prew-chat{
    width: calc(100% - 70px);
    background-color: coral;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width:991px) {
    .main-screen{
        width: 100%;
        height: 100vh;
    }
    .side-bar{
        width: 70px;
        padding: 0;
    }
    .photo{
        width: 70px;
    }
    .tools, .prew-chat, .hero{
        display: none;
    }
    .side-chat{
        height: calc(100% - 70px - 2rem);
    }
}

@media screen and (max-width: 540px) {
    .side-bar{
        display: none;
    }    
}
/*CHAT*/
.chat-open{
    height: 100%;
    width:calc(100% - 250px);
    background-color: orange;
}

.header-chat{
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-chat-sx{
    width:calc(100% - 300px);
    height: 70px;
    background-color: pink;
}

.header-chat-dx{
    width: 300px;
    height: 70px;
    background-color: violet;
}

.chat{
    width: 100%;
    background-image: url(../img/mine.jpg);
    height: calc(100% - 140px - 2rem);
    overflow-y: auto;
}

.input-chat{
    width: 100%;
    height: 70px;
    background-color: white;
}

@media screen and (max-width:991px) {
    .chat-open{
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 540px) {
    .chat-open{
        width: 100%;
        height: 100vh;
    }
}